#root {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
}

.App {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inputArea {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}

.inputAddProduct {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  row-gap: 10px;
}

.AppWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.flex {
  margin-top: 20px;
  display: flex;
  gap: 20px;
}


.products {
  margin-top: 20px;
  display: flex;
  gap: 15px;

}

.product {
  border: 1px solid grey;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 5px 5px 2px rgb(75, 131, 131), 3px 3px 2px rgb(229, 188, 188), 5px 5px 3px rgb(205, 245, 205);
}

.checkbox {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.button {
  padding: 7px;
  border: none;
  background-color: rgb(41, 112, 112);
  border-radius: 5px;
  color: #fff;

}